:root {
  --primary: #0336ff;
  --secondry: #ffa500;
  --colorWhite: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}

/* reuse classes */
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

.shadow-box {
  padding: 20px;
  background-color: var(--colorWhite);
  box-shadow: 0px 6px 12px 0px rgba(189, 189, 189, 0.5);
  border-radius: 15px;
}

/* header */
.header {
  background: url(/travelApp/images/navbar/bgImg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header > div > div:nth-child(2) {
  color: var(--colorWhite);
  padding-top: 90px;
}
.header .nav-links .nav-btn {
  color: var(--secondry);
  transition: all 0.3s ease;
}
.header .nav-links .nav-btn:hover {
  opacity: 0.8;
  color: var(--colorWhite);
}
.header .nav-links .nav-btn.active {
  background-color: var(--primary) !important;
  color: white !important;
  border: none !important;
}
.nav-links a {
  padding: 0px 20px;
}
.header > div > div:nth-child(2) h3 {
  font-weight: 700;
  font-size: 30px;
}
.header > div > div:nth-child(2) h1 {
  font-weight: 800;
  font-size: 64px;
}
.header > div > div:nth-child(2) a {
  color: var(--colorWhite);
  border-radius: 5px;
  padding: 5px 20px;
  background-color: var(--primary);
}
.span-yellow {
  color: var(--secondry);
}
.child-two p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
}
.icons i:nth-child(1) {
  background-color: var(--colorWhite);
  color: var(--primary);
  padding: 8px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 100px;
}
.icons i:nth-child(2) {
  color: var(--primary);
  padding-left: 80px;
  font-size: xx-large;
}
/* content */
.content {
  margin-top: 80px;
}
.left-column h3 {
  font-weight: 700;
  font-size: 30px;
}
/* about-me */
/* .about-me {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 6px 12px 0px rgba(189, 189, 189, 0.5);
  border-radius: 15px;
} */

.about-me a {
  background-color: var(--primary);
  /* margin: 0px 80px;
  padding: 5px 15px; */
}
.right-content > div:nth-child(1) h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 25px;
}
.right-content > div:nth-child(1) p {
  margin: 30px 0px;
}
.left-content {
  padding: 0px 15px;
}
.icon-yellow {
  color: var(--secondry);
}
/* repeated */
/* .right-content > div:nth-child(1) {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 6px 12px 0px rgba(189, 189, 189, 0.5);
  border-radius: 15px;
}
.categories {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 6px 12px 0px rgba(189, 189, 189, 0.5);
  border-radius: 15px;
} */

.popular-van-post {
  background: url(/travelApp/images/content/contentLeft/popular.svg) no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--colorWhite);
  border-radius: 10px;
}
.popular-van-post i {
  background-color: var(--colorWhite);
  color: var(--primary);
}
